
  *{box-sizing: border-box;}

  /* Makes it so when you click on a bookmark link it scrolls smoothly to the bookmark */
  html {
    scroll-behavior: smooth;
  }


/* This is a transition effect of going towards full opacity over 0.7s */
body {
    opacity: 1;
    transition: 0.7s opacity;
  }
  
  /* This is the default page setting of totally transparent (can't see anything on the page) which allows us to have a fade-in effect in conjunction with JavaScript and the above transition effect */
  body.fade {
    opacity: 0;
  }

/* The below code pertains to the form pop up effect */

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=tel] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=tel]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* End for pop up effect CSS */

/* Below CSS animates the first img element with id=ghoul to move from left to right on the screen, infinitely */
#ghoul {
  animation: mymove 5s infinite;
  position: relative;
}

@keyframes mymove {
  from {right: 0px;}
  to {left: 200px;}
}
/* END CSS ANIMATION  */

/* CSS FOR ZOOM IN AND OUT SLOW EFFECT FOR WEREWOLF IMAGE OVER 15 SECONDS */
@keyframes zoominoutsinglefeatured {
  0% {
      transform: scale(1,1);
  }
  50% {
      transform: scale(1.2,1.2);
  }
  100% {
      transform: scale(1,1);
  }
}

#werewolf {
animation: zoominoutsinglefeatured 15s forwards;
}
/* END WEREWOLF ZOOM IN & OUT EFFECT */

img {
  height: 400px;
  width: auto;
}
/* CSS FOR THE SLIDESHOW NEAR THE BOTTOM OF THE WEB PAGE */
#slideshow { 
  margin: 50px auto; 
  position: relative; 
  width: 240px; 
  height: 240px; 
  padding: 10px; 
  box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
  position: absolute; 
  top: 10px; 
  left: 10px; 
  right: 10px; 
  bottom: 10px; 
}
/* END SLIDESHOW CSS */